
/* image du background*/
.bgintro {
    background-image: url("/images/rouages.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
  }

  /* carte en transparence*/
  .list-group-item{
      margin-bottom: 2em;
      background-color: rgba(255, 255, 255, 0.301);
  }

  /* espacement des boutons*/
  .btn {
      margin: 5px;
  }

  /* titre des sondages*/
  h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    stop-opacity: 10%;
    color: black;
  }
  
  /* carte en transparence*/
.card{
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.301);
}

img.img{
    size: 120px;
}